.root{
    -fx-background-image:url('../../images/TelaCadastro.jpg');
    -fx-background-size:cover;
}


.button {
  -fx-background-color: white;
  -fx-color: white;
  -fx-font-size: 16px;
  -fx-font-weight: bold;
}

.button:hover {
  -fx-background-color: #fab4b6;
  -fx-text-fill: black ;
}

#sliderMusica .track {
    -fx-background-color: transparent;
    -fx-border-radius: 0px;
    -fx-background-radius: 0px;
    -fx-pref-height: 20px;
}

#sliderMusica .thumb {
    -fx-background-color: #86385a;
    -fx-background-radius: 0px;
    -fx-border-color: white;
    -fx-border-radius: 0px;
    -fx-pref-height: 30px;
    -fx-pref-width: 20px;
    
}

#sliderMusica .track .filled {
    -fx-background-color: red;
}

.progress-bar .track{
	-fx-background-radius: 0;
}

.progress-bar .bar{
	-fx-background-color: linear-gradient(to right, #86385a, #07454f);
	-fx-background-radius: 0;
	-fx-background-insets: 0px;
}

.menu-bar {
    -fx-background-color: #86385a;
}


.menu .label{
	-fx-font-size: 16px;
  	-fx-font-weight: bold;
    -fx-text-fill: white;
}

.menu-item {
	-fx-background-color: #07454f;
    -fx-text-fill: black;
}

.menu-item:hover {
    -fx-background-color: #86385a;
}





